@import 'variables.scss';
@import 'reset.scss';
@import 'common.scss';
@import 'message.scss';
@import 'device.scss';
@import 'period.scss';
@import 'layers.scss';
@import 'marker.scss';
@import 'timeline.scss';
@import '../../node_modules/leaflet/dist/leaflet.css';

body {
	min-width: 480px;
	font: 400 12px/1 Roboto Condensed, PT Sans, Trebuchet MS, Verdana, Helvetica, sans-serif;
	color: #212529;
	background: #fff;
}

#map {
	width: 100vw;
	height: calc(100vh - 80px);

	.leaflet-bar {
		a {
			width: $control-size;
			height: $control-size;
			line-height: $control-size;
			border-radius: 0;
		}
	}
}

.header,
.footer {
	display: flex;
	align-items: center;
	height: $bar-height;
	padding: 0 $bar-padding;
	color: #fff;
	background: #2c3e50;
}

.header {
	justify-content: space-between;
}

.copyright {
	flex: 1;
	text-align: center;
	color: #ecf0f1;
}