*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 85%;
}

body {
	font: 400 1em/1 "Roboto Condensed", sans-serif;
	color: #212529;
	background: #fff;
}

a {
	text-decoration: none;
	color: inherit;
}

big {
	font-size: larger;
}

small {
	font-size: smaller;
}

button {
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 100%;
}

[disabled] {
	cursor: not-allowed;
}

#map {
	width: 100vw;
	height: calc(100vh - 80px);
}

.header,
.footer {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	color: #fff;
	background: #2c3e50;
}

.header {
	justify-content: space-between;
}

.device {
	position: relative;
	display: flex;
	align-items: center;

	&__control {
		height: 30px;
		color: #000;
		background: #fff;
	}

	&__popup {
		position: absolute;
		left: 0;
		top: 30px;
		max-width: calc(100vw - 20px);
		max-height: 50vh;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		overflow: auto;
		color: #000;
		background: #fff;
		z-index: 9999;

		&--open {
			opacity: 1;
			visibility: visible;
		}
	}

	&__tree {
		padding: 4px 0;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 4px 8px;
		white-space: nowrap;
		cursor: pointer;

		&:hover {
			background: #eee;
		}

		&-image {
			width: 18px;
			height: 18px;
			margin-right: 4px;
			text-align: center;
		}

		&-name {

		}
	}

	&__location {
		margin-left: 2px;

		&-control {
			position: relative;
			width: 30px;
			height: 30px;
			border: 0;
			background: #fff;

			&--active {
				background: #f1c40f;
			}

			i {
				position: absolute;
				left: 8px;
				top: 8px;
				width: 14px;
				height: 14px;
				border: 1px solid #333;
				border-radius: 50%;

				&:before {
					content: "";
					position: absolute;
					left: -4px;
					top: 50%;
					right: -4px;
					transform: translateY(-50%);
					border-top: 1px solid #333;
				}

				&:after {
					content: "";
					position: absolute;
					top: -4px;
					left: 50%;
					bottom: -4px;
					transform: translateX(-50%);
					border-left: 1px solid #333;
				}
			}
		}
	}
}

.period {
	white-space: nowrap;

	&__fieldset {
		&[disabled] {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				cursor: not-allowed;
			}
		}
	}
}
.period__control,
.period__date {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	margin: 0 1px;
	padding: 6px;
	border: 0;
	background: #fff;
}
.period__control {
	position: relative;
	border: 0;
	width: 30px;
	margin: 0 1px;
	background: #fff;
}
.period__control:before {
	content: '';
	position: absolute;
	top: 9px;
	left: 9px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}
.period__control--down:before {
	border-right: 12px solid currentColor;
}
.period__control--up:before {
	border-left: 12px solid currentColor;
}
.period__date::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

.marker {
	margin-top: -38px !important;
	line-height: 18px;
	text-align: center;
	white-space: nowrap;
}
.marker:before {
	content: '';
	position: absolute;
	left: 16px;
	top: 100%;
	height: 16px;
	border-left: 1px solid #fff;
}
.marker:after {
	content: '';
	position: absolute;
	left: 13px;
	top: calc(100% + 16px);
	width: 7px;
	height: 7px;
	border: 1px solid #fff;
	border-radius: 50%;
}
.marker__time {
	display: inline-block;
	width: 34px;
	background: #fff;
}
.marker__index {
	display: inline-block;
	min-width: 18px;
	margin-left: 2px;
	color: #fff;
	background: #3e78b3;
}

.timeline {
	display: none;
	position: relative;
	flex: 1;

	&--visible {
		display: block;
	}

	&--visible + .copyright {
		display: none;
	}

	//flex: 1;
	//height: 10px;
	//background-image: repeating-linear-gradient(to right, #fff 0, #fff 1px, #0000 1px, #0000 40px);

	&__status {
		height: 8px;
		background: #bdc3c7;
		cursor: pointer;
	}

	&__cursor {
		position: absolute;
		font-size: 10px;

		&--top {
			top: -13px;
		}

		&--middle {
			top: -2px;
			height: 12px;
			border-left: 1px solid #fff;
		}

		&--bottom {
			bottom: -13px;
		}
	}
}

.copyright {
	flex: 1;
	text-align: center;
	color: #ecf0f1;
}

.message {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	opacity: 0;
	visibility: hidden;
	color: #fff;
	background: #2980b9;
	z-index: 1000;
}
.message--visible {
	opacity: 1;
	visibility: visible;
}
